<svg 
    width="{{draw.width}}"
    height="{{draw.height}}">

{# Background #}
<rect x="-10" y="-10" width="{{draw.width+10}}" height="{{draw.height+10}}" style="fill:{{conv(draw.style.background_color)}}"/>

{% for feature in draw.features %}

    {% if feature.type == "polygon" %}

        <polygon
            points="{% for point in feature.points %}{{point[0]}},{{point[1]}} {% endfor %}"
            style="fill:{{conv(feature.fill)}}; stroke:{{conv(feature.outline)}}; stroke-width: 0.2;"
        />

    {% elif feature.type == "ellipse" %}

        <ellipse
            cx="{{feature.box[0] + ((feature.box[2] - feature.box[0]) / 2)}}" cy="{{feature.box[1] + ((feature.box[3] - feature.box[1]) / 2)}}"
            rx="{{(feature.box[2] - feature.box[0]) / 2}}" ry="{{(feature.box[3] - feature.box[1]) / 2}}"
            style="fill:{{conv(feature.fill)}};"
        />

    {% elif feature.type == "text" %}

        <text x="{{feature.x}}" y="{{feature.y}}" font-size="3" style="fill:{{conv(feature.fill)}}">{{feature.text}}</text>

    {% elif feature.type == "polyline" %}

        <polyline
            points="{% for point in feature.points %}{{point[0]}},{{point[1]}} {% endfor %}"
            style="fill:transparent; stroke:{{conv(feature.fill)}}; stroke-width:{{feature.width}};"
        />

    {% endif %}

{% endfor %}

</svg>